<!DOCTYPE html>
<html class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">


    <meta charset="utf-8">
    <title>Epro Company</title>
    <meta name="fb_admins_meta_tag" content="">


    <meta http-equiv="X-Wix-Renderer-Server" content="app201.vae.aws">
    <meta http-equiv="X-Wix-Meta-Site-Id" content="6f9079c0-574f-473c-9c0d-86861d5f0ef3">
    <meta http-equiv="X-Wix-Application-Instance-Id" content="040d266e-99bc-415f-88eb-23fb58f0a088">
    <meta http-equiv="X-Wix-Published-Version" content="11">

    <meta http-equiv="etag" content="aaf92b6c65fb2b4fc7e5f27e8019dee1">
    <meta property="og:title" content="Epro Company">
    <meta property="og:type" content="article">
    <meta property="og:url" content="index.php">
    <meta property="og:site_name" content="Epro Company">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

    <meta id="wixMobileViewport" name="viewport" content="width=980, user-scalable=yes">


    <!-- META DATA -->




    <meta name="fragment" content="!">

    <!-- DATA -->
    <link type="image/x-icon" href="assets/images/favicon.ico" rel="shortcut icon">
    <link type="image/x-icon" href="assets/images/favicon.ico" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="assets/pages/css/index.css" media="all">
</head>
<body style="" class="legacy-body-overflow">

<!--@@SIDE-MENU-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row"> </div>
        <div class="content-body hidden cloak" ng-app="myApp" ng-controller="myCtrl" id="myCtrl" ng-cloak>
            @@BodyContent




        </div>
    </div>
</div>


<script>
    //@@[PAGE-JS-INJECTION]
</script>



<!--@@yield_to_master-->



</body>
</html>
