<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000" />
           </webServices>
       </scripting>
   </system.web.extensions>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
      <staticContent>
                      <!--<mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />-->
        </staticContent>
    <!--<httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      -->
    <!-- full url when responsemode is Redirect -->
    <!--<error statusCode="401" path="http://foo.com/default.htm" responseMode="Redirect" />-->
    <!-- local relative path when responsemode is ExecuteURL -->
    <!--
      <error statusCode="403" path="/default.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="/default.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/default.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
  <appSettings>
  </appSettings>
  <system.web>
    <!--Length in Kb: 15MB-->
    <httpRuntime executionTimeout="3600" maxRequestLength="15360" />
    <sessionState timeout="60" />
    <customErrors mode="Off" />

    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
      <trustLevel name="High" policyFile="web_hightrust.config" />
      <trustLevel name="Medium" policyFile="web_mediumtrust.config" />
      <trustLevel name="Low" policyFile="web_lowtrust.config" />
      <trustLevel name="Minimal" policyFile="web_minimaltrust.config" />
    </securityPolicy>
    <trust level="Full" originUrl="" processRequestInApplicationTrust="true" />
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
